html {
    position: relative;
    height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-top: 50px;
  padding-bottom: 20px; 
  font-family: 'Roboto Condensed', 'sans-serif';
  height: 100%;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'fontawesome', sans-serif;
}

header h1
{
        margin:35px 0 0 0;
        font-size:55px;
        color:#e56038;
}
header p
{
        font-size:16px;
        color: #4A463B;
        margin-left:132px;
}

#map-canvas {
    width:100%;
    height: 70%;
}

.stat {
    font-size: 16px;
    text-align: center;
    padding: 30px 10px;
    background-color: #FFF;
    color: #F75C54;
    height: 293px;
}

.stat:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.25em;
}

.stat > .content {
    display: inline-block;
    vertical-align: middle;
}

.stat:hover {
    color: #fff;
    background-color: #F75C54;
}

.dropdown-login {
    padding:17px;
     min-width:300px;
}

.navbar .user-img {
    padding-top: 9px;
    font-size: 14px;
}

.popup {    
    padding: 15px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
}

footer {
  width: 100%;
  height: 160px;
  background-color: #333333;;
  margin-top: 20px;
}

.text-muted {
    margin: 20px 0;
}

/* -- Myreports page -- */
.small-map-view {
    height: 250px;
    width: 250px;
}

.report:hover {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.report h3 {
    margin-top: 0;
}

.report-details {
    margin-left: 265px;
}

/* -- Helper rules -- */
.clear
{
        clear:both;
}

.hidden
{
        position:absolute;
        clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
          clip: rect(1px, 1px, 1px, 1px);
}

form {
    font-family: 'Roboto Condensed', 'sans-serif';
}

form textarea {
    resize: vertical;
}

.push-down {
    margin-top: 30px;
}
